.gk{
	&__flt{
		border-top: 2px solid $black;
		display: flex;

		&__fct{
			& select{
				height: 60px;
				border: none;

			}
			&:not(:first-of-type){
				border-right: 1px solid black;
			}
		}

	}
}