.gk{ /* gk as geeko */
	&__ab{ /* ab as avenir black */
		font-family: "Avenir Black";
	}

	&__ar{ /* ar as avenir roman */
		font-family: "Avenir Roman", sans-serif;
	}

	&__txt-lg{
		font-size: 20px;
		line-height: 26px;
	}

	&__title-xxl{
		font-size: 36px;
		line-height: 48px;
	}
}