.gk{
	&__img-grd{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 350px;
    	margin: 0 auto;
    	margin-top: 30px;

    	@include breakpoint("md"){
			width: auto;
		}

		& img{
			width: 150px;
			height: 150px;

			&:nth-child(odd){
				margin: 0 10px 10px 0;
			}

			@include breakpoint("md"){
				margin: 0 10px 10px 0;
			}
		}
	}
}