@mixin inputs(){
	border: 1px solid $mercury;
	padding: 7px 30px;
	color: $abbey;
}

@mixin breakpoint($point) {
   @if $point == vlg { // 1120px
     @media (min-width: 70em) { @content ; } 
  }
   @else if $point == lg { // 1024px
     @media (min-width: 64em) { @content ; }
  }
  @else if $point == md { // 800px
     @media (min-width: 50em) { @content ; }
  }
  @else if $point == sm { // 600px
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == xs {
     @media (max-width: 37.5em)  { @content ; }
  }
  @else if $point == md-max { // 800px
     @media (max-width: 50em) { @content ; }
  }
  @else if $point == vlg-max {
     @media (max-width: 70em) { @content ; }
  }
}