.gk{ /* gk as geeko */
	&__pdt{ /* pdt as product */
		&__hdr{ /* hdr as header */
			background: $sweetcorn;
			padding: 30px 0;

			&__ctnt{ /* ctnt as content */
				margin: 0 auto;
			}

			&__t{ /* t as title */

			}

			&__dsc{ /* dsc as description */

			}
		}
	}
}