.gk{ /* gk as geeko */
	&__pdt{ /* pdt as product */
		&__hdr{ /* hdr as header */
			background: $sweetcorn;
			padding: $md-gutter 0;

			&__ctnt{ /* ctnt as content */
				margin: 0 auto;
			}

			&__t{ /* t as title */

			}

			&__dsc{ /* dsc as description */

			}
		}

		&__dtls{ /* dtls as details */
			&__nav{ /* nav as navigation */
				border-bottom: 1px solid $mercury;
				& ul{
					display: flex;
					width: 90%;
					justify-content: space-around;
					margin: 0 auto;
					padding: 20px 0;
					& li{
						& a {

							padding: 5px;
							border-radius: $md-gutter;
							display: block;
							
							&.active{
								border: 1px solid $black;
							}

							&:hover{
								color: $white;
								background: $black;
							}
						}
					}
				}
			}

			& section {
				& h2{
					text-align: center;
				}

				&#presentation {
					& .gk__pdt__dtls__ctnt{
						display: flex;
						width: 80%;
						margin: 0 auto;
						justify-content: center;
						& div{
							width: 500px;
						}
					}
				}

				&#manettes{
					& .gk__pdt__dtls__bkg{
						background-image: url('https://picsum.photos/2880/1140');
					}
					& .gk__pdt__dtls__ctnt{
						padding: 140px 0;
						width: 80%;
						margin: 0 auto;
						color: $white;
					}
				}
			}
			
			&__sctn{
				&--yellow{
					background: $sweetcorn;
				}
			}

			&__crc{
				& ul{
					width: 80%;
					margin: 0 auto;
					& li {
						display: block;
						padding: $md-gutter 0;
						border-bottom: 1px solid $mercury;

						& p {
							display: inline-block;

							&.title{
								font-weight: bold;
								width: 25%;
							}
						}
					}
				}
			}
		}
	}
}