@import "flexboxgrid";
@import "reset";
@import "variables";
@import "mixins";
@import "fonts";
@import "vertical-rythm";
@import "toggle-btn";
@import "social-network-menu";
@import "carousel-product";
@import "floating-text";
@import "img-grid";
@import "product";
@import "filters";
@import "header";
@import "footer";
@import "inputs";
@import "login";

a{
	text-decoration: none;
}

body{
	font-family: "Avenir Black";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


* > * {
	box-sizing: border-box;
}

.gk{
	&__hm{
		&__ttl{
			width: 640px;
			margin: 0 auto;
			letter-spacing: 6px;
		}
	}
}

.gk{ /* gk as geeko */
	&__pnl{ /* pnl as panel */
		padding: $md-gutter $gutter;
		
		&--sc{ /* sc as sweetcorn */
			padding: $md-gutter 0;
			background-color: $sweetcorn;
		}

		&--wh{
			background-color: $white;
		}

		&__ctnt{
			padding: 0 $gutter;
		}

		& > p {
			@include breakpoint("md"){
				max-width: 500px;
				margin: 0 auto;
			}
		}
	}

	&__ctr-txt{ /* ctr-txt as centered text*/
		text-align: center;
	}

	&__insta{
		padding: $md-gutter 0;
	}
}

.gk{ /* gk as geeko */
	&__n-l{ /* n-l as nav link */
		padding: $gutter 0;
		display: block;

		&.is--active{
			position: relative;

			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				display: block;
				width: 100%;
				height: 4px;
				color: $mercury;
			}
		}

		&:visited, &:link{
			color: $black;
		}

		&:active, &:focused{

		}

		&:hover{

		}
	}

	&__h1{
		text-transform: uppercase;
		font-family: "Avenir Black";
	}

	&__h2{
		text-transform: uppercase;
		
	}

	&__h3{
		text-transform: uppercase;
	}
	
	&__btn{
		&--black{
			color: $white;
			background-color: $black;
			border: none;
			border-radius: 30px;
			padding: 10px $gutter;
			text-transform: uppercase;
			display: inline-block;
			font-family: "Avenir Black", sans-serif;
			font-size: 12px;
			letter-spacing: 2px;

			&:after{
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				content: "\f054";
				margin-left: 10px;
			}
		}

		&--yellow{
			color: $black;
			background-color: $sweetcorn;
			border-radius: 30px;
			padding: 10px $gutter;
			text-transform: uppercase;
			display: inline-block;
			font-family: "Avenir Black", sans-serif;
			font-size: 12px;
			letter-spacing: 2px;

			&:after{
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				content: "\f054";
				margin-left: 10px;
			}
		}

		&__play{
			$btn-size: 80px;
			color: $white;
			width: $btn-size;
			height: $btn-size;
			font-family: "Avenir Black", sans-serif;
			background-color: $black;
			line-height: 65px;
			border-radius: $btn-size/2;
			border: 7px solid $white;
		}
	}
}

.gk{
	&__sm{
		&-hide{
			display: none;
		}
	}

	&__vlg{
		&-show{
			@include breakpoint("vlg-max"){
				display: none;
			}
		}
	}
}

.gk{
	&__mosaic{
		margin: 0 auto;
		margin-top: $md-gutter;
		& > div {
			width: 100%;
			font-size: 0;
			@include breakpoint("md"){
				justify-content: center;
				display: flex;
				flex-wrap: wrap;
			}

			& img {
				width: 100%;
				height: auto;
			}

			& > div:nth-child(2){
				@include breakpoint("vlg"){
					margin-left: $gutter;
				}
			}
		}
	} 
}

.gk{
	&__img-fw{
		width: 100%;
		height: auto;
	}
}

.gk{
	&__nav{
		display: flex;
		justify-content: center;
		flex-direction: column;

		@include breakpoint("md"){
			flex-direction: row;
			max-width: 1024px;
			margin: 0 auto;
		}

		& li {

			& a{
				padding: $md-gutter 0;
				font-family: "Avenir Black";
				text-transform: uppercase;
				font-size: 12px;
				letter-spacing: 2px;
				
				@include breakpoint("md"){
					padding: 0 $md-gutter;
				}
			}
		}
	}

	&__cpr{
		color: $mercury;
		font-family: "Avenir Roman";
		font-size: 16px;

		& > span{
			color: $abbey;
			font-family: "Avenir Black";
		}
	}
}