$abbey: #4a4a4c;
$black: #000000;
$linen: #fbebeb;
$mercury: #e3e3e3;
$roman: #d55a4f;
$scooter: #2ebfcd;
$sweetcorn: #f7ec8d;
$white: #FFFFFF;

@font-face{
	font-family: "Avenir Black";
	src: url("/fonts/avenir-black-webfont.eot"),
		url("/fonts/avenir-black-webfont.svg"),
		url("/fonts/avenir-black-webfont.orf"),
		url("/fonts/avenir-black-webfont.svg"),
		url("/fonts/avenir-black-webfont.woff")
}


@font-face{
	font-family: "Avenir Roman";
	src: url("/fonts/avenir-roman-webfont.eot"),
		url("/fonts/avenir-roman-webfont.svg"),
		url("/fonts/avenir-roman-webfont.orf"),
		url("/fonts/avenir-roman-webfont.svg"),
		url("/fonts/avenir-roman-webfont.woff")
}